# STM32CubeIDE
stm32-edge/firmware/Debug/
stm32-edge/firmware/Release/
stm32-edge/firmware/**/*.o
stm32-edge/firmware/**/*.elf
.metadata/
.settings/

# Python
model/**/__pycache__/
*.pyc
.venv/
venv/

# C++/CMake
mini-infer/build/
mini-infer/tests/data/

# OS
.DS_Store